:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color: #ff8000;

  --header-height: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.container {
  width: 700px;
}

.main {
  background: #f1f1f1;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

/* Table */
#table-wrapper {
  overflow-x: auto;
}

table,
th,
td {
  border: none;
}

table {
  width: 700px;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  font-size: 1.2em;
  line-height: 1.4rem;
  color: rgb(117, 114, 114);
  font-weight: normal;
  background-color: var(--white-color);
}

table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

table tr:last-child th:first-child {
  border-bottom-left-radius: 6px;
}

table tr:last-child th:last-child {
  border-bottom-right-radius: 6px;
}

th {
  border-bottom: 2px solid #ddd;
}

td {
  border-bottom: 1px solid #ddd;
}

tfoot td {
  background-color: #f6f6f6;
  color: var(--black-color);
  font-weight: 600;
}

/* Button styles */
.btn {
  border: none;
  border-radius: 8px;
  font-size: 1.4rem;
  padding: 8px 32px;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.6rem;
  background-color: var(--white-color);
}

.btn.btn--normal:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

.btn.btn--primary {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.btn.btn--primary:hover {
  opacity: 0.8;
}

.btn.btn--lg {
  padding: 12px 32px;
}

/* Card */
.card {
  display: inline-block;
  color: var(--text-color);
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.09);
}

/* Form */
.form {
  min-width: 360px;
  min-height: 100px;
  padding: 16px 50px;
  text-align: center;
  background: #fff;
  border-radius: 2px;
  align-self: center;
  box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
  display: flex;
  flex-direction: column;
}

.form .heading {
  font-size: 1.6rem;
  color: #b8b894;
  margin-bottom: 32px;
}

.form-control {
  height: 40px;
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  outline: none;
  font-size: 1.4rem;
  background-color: #ffe6ff;
  color: var(--text-color);
  margin-bottom: 16px;
}

.form-control:hover {
  border-color: #1dbfaf;
}

.form-control::placeholder {
  color: #adad85;
}

.form-control:focus,
.form-control:invalid {
  outline: 1px solid #ffb3d9;
}

.form-action {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.form-link {
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #4db8ff;
  padding: 8px 16px;
}

.form-message {
  color: #f33a58;
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding: 0 0 8px 8px;
  text-align: left;
  margin-top: -8px;
}

/* Pagination */
.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}

.pagination-item {
  width: 32px;
  height: 32px;
  margin: 0 4px;
  background-color: #4db8ff;
  font-size: 1.4rem;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.pagination-item:hover {
  opacity: 0.7;
}

.pagination-item.active {
  background-color: var(--primary-color);
}

.pagination-dot {
  font-size: 2rem;
  font-weight: 600;
  color: #b8b894;
  user-select: none;
  margin: 0 4px;
}
