/* Grid layout */
.grid-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'sidebar header'
    'sidebar content';
  background-color: #f1f1f1;
  min-height: 100vh;
}

/* Header */
.header {
  grid-area: header;
  padding: 8px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: sticky;
  top: 0;
}

.menu-toggle {
  display: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.menu-toggle:hover {
  background-color: #585953;
}

.menu-toggle i {
  font-size: 1.6rem;
}

.user {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #585953;
}

.user-avatar i {
  font-size: 1.8rem;
}

.user-name {
  font-size: 1.2rem;
  margin-left: 8px;
}

/* Sidebar */
.sidebar {
  grid-area: sidebar;
  width: 200px;
  background-color: var(--white-color);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}

.logo {
  display: flex;
  align-items: center;
  padding: 16px;
  user-select: none;
}

.logo-icon i {
  font-size: 2.2rem;
}

.logo-title {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-left: 8px;
}

.nav-menu {
  list-style: none;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 6px 20px;
  height: 32px;
  cursor: pointer;
}

.nav-icon i {
  font-size: 1.6em;
  color: var(--text-color);
}

.nav-link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 1.4em;
  line-height: 1.8rem;
  margin-left: 8px;
  color: var(--text-color);
}

.nav-item.active .nav-link {
  color: #1a75ff;
  border-right: 2px solid #1a75ff;
}

.nav-item:hover:not(.active) .nav-link {
  color: #b3d1ff;
  border-right: 2px solid #b3d1ff;
}

/* Content */
.content {
  grid-area: content;
  margin: 64px auto;
  height: 1000px;
  width: 700px;
}

.device-action {
  width: 700px;
  margin: 25px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

.device-action .chart {
  width: 320px;
  height: 300px;
  background-color: var(--white-color);
}

.form-device .form {
  height: 100%;
  padding: 32px;
}

.content .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-heading {
  font-size: 2rem;
}

.filter-log input {
  margin: 0;
  height: 34px;
}

.filter-log button {
  margin-left: 8px;
  padding: 8px 22px;
}

.mb-log {
  margin-bottom: 16px;
}
